{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% endif %}
		<div class="mt-5 mb-5">
			<div class="row">
				<div class="col-md-1"></div>
				<h3 class="fs-1 bg-dark mt-5 text-center text-light fw-bold col-md-10 ">Admin Space</h3>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row mb-5">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h4 class="text-center mb-4 mt-5 fw-bold fs-2" for="inputEmail">Mail</h4>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control col-md-6" autocomplete="email" required autofocus>
			</div>
			<div class="col-md-4"></div>
		</div>

		<div class="row mb-5 mt-5 justify-content-center">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h4 class="text-center mt-5 mb-4 fw-bold fs-2 " for="inputPassword">Mot de passe</h4>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			</div>
			<div class="col-md-4"></div>
		</div>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<div class="d-flex justify-content-center">
			<button class="btn btn-lg btn-dark fw-bold mb-5" type="submit">
				Sign in
			</button>
		</div>
	</form>
{% endblock %}
