{% extends 'base.html.twig' %}

{% block title %}Développeur Web Freelance à Valence{% endblock %}

{% block body %}


	<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
			<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false">
					<rect width="100%" height="100%" fill="transparent"></rect>
				</svg>

				<div class="container col-12 ">
					<div class="carousel-caption align-items-center">

						<h1 class="text-light p-5 name text-uppercase rounded rounded-3 fw-bolder my-5 text-bg-primary">
							michael walenciak
						</h1>
						<h3 class="text-light bg-primary fs-3 badge badge-primary text-wrap">Développeur web</h3>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<svg class="bd-placeholder-img mt-5" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveaspectratio="xMidYMid slice" focusable="false">
					<rect class="m-5" width="100%" height="100%" fill="transparent"></rect>
				</svg>

				<div class="container mt-5 w-100">
					<div class="carousel-caption">
						<img class="d-flex photoimg img-fluid justify-content-center" src="{{ asset('/build/images/—Pngtree—web development illustration modern_4484302.e83df41a.png') }}" alt="">
						<p class="text-light fs-3 fw-bold bg-primary p-3 rounded rounded-3">Votre site, à la mesure de vos ambitions.</p>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="container marketing">
		<div class="col-md-12 mt-5 pt-5 ">
			<div class="py-5">
				<div class="bg-primary rounded rounded-3 mt-5">
					<h3 class="text-light text-center fw-bold p-3 m-5 text-uppercase fs-2">Qui suis-je ?</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<img class="picofme d-flex align-items-center ms-auto me-auto rounded rounded-3  mt-5" src="{{ asset('/build/images/mike.f7d6ffab.jpg') }}" alt="">
				</div>
				<div class="col-md-6 bg-primary rounded rounded-3 text-center text-light d-flex align-items-center fw-bold p-5 fs-5 flex-column lh-base">
					<p class="mt-5">
						Je suis Michael, un développeur passionné et autodidacte avec une expertise solide dans le développement web et logiciel. Depuis des années, je perfectionne mes compétences en programmation, maîtrisant divers langages et technologies comme PHP sur le framework SYMFONY. Toujours en quête de nouvelles innovations, je combine rigueur et créativité pour développer des solutions performantes. Que ce soit pour des projets en front-end, back-end, ou encore des applications mobiles, je repousse constamment les limites. Curieux de voir ce que je peux accomplir pour votre projet ?</p>
					<a class="btn btn-light text-primary fw-bold d-flex align-items-center d-block mt-5 " href="#form">Contact</a>
				</div>
			</div>
		</div>
		<div class="mt-5 pt-5">
			<div class="py-5">
				<div class="bg-primary rounded rounded-3 mt-5">
					<h3 class="text-light text-center fw-bold p-3 text-uppercase fs-2">Ce que je propose ?
					</h3>
				</div>
			</div>
			<div class="row justify-content-around py-5">
				<div class="col-7 mt-3 col-md-3 col-lg-3 bg-primary rounded-4">
					<img class="img-fluid" src="{{ asset('/build/images/dev.0d39b871.png') }}" alt="img-alt">
					<h2 class="text-light text-center fw-bold">Portfolio</h2>
					<p class="text-light text-center">besoin d'un site pour rassembler vos projets ?
					</p>
				</div>

				<div class="col-7 mt-3 col-md-3 col-lg-3 bg-primary rounded-4">
					<img class="img-fluid" src="{{ asset('/build/images/mobilDevelopment.ccaa9afe.png') }}" alt="img-work">
					<h2 class="text-light text-center fw-bold">Site vitrine</h2>
					<p class="text-light text-center">Une activité à présenter ?</p>
				</div>
				<div class="col-7 mt-3 col-md-3 col-lg-3 bg-primary rounded-4">
					<img class="img-fluid" src="{{ asset('/build/images/workinprogress.d79b20e7.png') }}" alt="img-work">
					<h2 class="text-light container-fluid text-center fw-bold">Application web</h2>

					<p class="text-light text-center">un outil web ?
					</p>
				</div>
			</div>
		</div>
		<!-- /.row -->
		<div class="py-5">
			<div class="bg-primary rounded rounded-3 mt-5">
				<h3 class="text-light text-center fw-bold p-3 text-uppercase fs-2">Le Déroulé ?</h3>
			</div>
		</div>
		<!-- START THE FEATURETTES -->


		<div class="row featurette mt-5">
			<div class="col-md-7">
				<h2 class="featurette-heading text-primary fw-bold m-5">Remplir le formulaire de contact.</h2>
				<p class="lead text-white m-5">Merci de remplir le formulaire avec les informations nécessaires afin de démarrer votre projet. Votre collaboration me permettra de vous offrir un service personnalisé et adapté à vos besoins."</p>
				<p class="m-5">
					<a class="btn btn-lg text-light btn-primary m-5 fw-bold" href="#form">aller au formulaire
					</a>
				</p>
			</div>
			<div class="col-md-5 p-5">
				<div id="contact"></div>

			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette my-5">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading text-primary fw-bold m-5">Je vous recontact rapidement .</h2>
				<p class="lead text-white">Je vous contacte afin d'en savoir plus sur vos besoins et de convenir d'un entretien à votre convenance. Votre projet est important et je souhaites vous accompagner au mieux.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<div id="svgContainer"></div>

			</div>
		</div>

		<hr class="featurette-divider">


		<div class="row featurette">
			<div class="col-md-7 my-5">
				<h2 class="featurette-heading text-primary fw-bold m-5">On discute de votre projet.</h2>
				<p class="lead text-white">Je vous propose de convenir d’un rendez-vous pour faire le point et mieux comprendre votre vision du projet. Cela nous permettra d'avancer efficacement ensemble.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<div id="talking"></div>

			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2 my-5">
				<h2 class="featurette-heading text-primary fw-bold m-5">Je fais en sorte qu'il prenne vie
				</h2>
				<p class="lead text-white">Je me mets au travail pour donner vie à votre projet et vous tiendrai régulièrement informé de son avancement. Ensemble, nous assurerons son
					<b>succès</b>
				</p>
			</div>
			<div class="col-md-5 order-md-1">
				<div id="photo1"></div>

			</div>
		</div>

		<hr class="featurette-divider">
		<div class="py-5">
			<div class="bg-primary rounded rounded-3 mt-5">
				<h3 class="text-light text-center fw-bold p-3 text-uppercase fs-2 py-5">Alors ? on commence quand ?
				</h3>
			</div>
		</div>

		<!-- /END THE FEATURETTES -->

	</div>
	{% include "/contact/_form.html.twig" %}


{% endblock %}
