{{ form_start(form) }}
{{ form_widget(form._token) }}

<!-- 2 column grid layout with text inputs for the first and last names -->
<div class="row p-5">
	<div class="col-md-3"></div>
	<div id="form" class="col-md-6 border border-primary border-5 bg-primary p-5 rounded rounded-5">
		<div class="row mb-4">
			<div data-mdb-input-init class="form-outline mb-4 col-md-6">
				<p class="text-light fw-bold">{{ form_label(form.Name) }}</p>
				<p>{{ form_widget(form.Name) }}</p>
			</div>
			<div data-mdb-input-init class="form-outline mb-4 col-md-6">
				<p class="text-light fw-bold">{{ form_label(form.FirstName) }}</p>
				{{ form_widget(form.FirstName) }}
			</div>
		</div>

		<!-- Text input -->
		<div class="row mb-4">
			<div data-mdb-input-init class="form-outline mb-4 col-md-6">
				<p class="text-light fw-bold">{{ form_label(form.Mail) }}</p>
				{{ form_widget(form.Mail) }}
			</div>
			<div data-mdb-input-init class="form-outline mb-4 col-md-6">
				<p class="text-light fw-bold">{{ form_label(form.Phone) }}</p>
				{{ form_widget(form.Phone) }}
			</div>
		</div>

		<div data-mdb-input-init class="form-outline mb-4">
			<p class="text-light fw-bold">{{ form_label(form.Message) }}</p>
			{{ form_widget(form.Message) }}
		</div>

		<!-- Submit button -->
		<div class="form-check d-flex justify-content-center mb-4">
			<button class="btn btn-light text-primary fw-bold justify-content-center">{{ button_label|default('Envoyer') }}</button>
		</div>
	</div>
</div>


{{ form_end(form) }}
