

        <div class="card m-4">
            <div class="card-header">
                {{ contact.name }} {{ contact.firstname }}
            </div>
            <div class="card-body">
                <h5 class="card-title text-danger">{{contact.mail}}</h5>
                <p class="text-dark fw-bold" >{{contact.message}}</p>
                <a href="{{ path('app_contact_show', {'id': contact.id}) }}" class="btn btn-primary">bite</a>
            </div>
        </div>

